body {
  font-size: 14px;
}

#open {
  cursor: pointer;
  border: 5px solid #ff0000;
  border-radius: 4px;
  text-align: center;
  padding: 16px 0;
  margin: 16px auto 0;
}

#open h1 {
  letter-spacing: 10px;
}

#close {
  cursor: pointer;
  border: 3px solid #32cd32;
  border-radius: 4px;
  text-align: center;
  padding: 16px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(50, 205, 50, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal {
  background: #fff;
  width: 300px;
  position: absolute;
  border-radius: 4px;
  top: 40px;
  left: 0px;
  right: 0px;
  margin: 40px auto;
  padding: 20px;
  transition: transform 0.4s;
  z-index: 2;
}

#modal p {
  margin: 0 0 20px;
}

#modal2 {
  background: #fff;
  width: 300px;
  position: absolute;
  border-radius: 4px;
  top: 250px;
  left: 0px;
  right: 0px;
  margin: 40px auto;
  padding: 20px;
  transition: transform 0.8s;
  z-index: 2;
}

#modal2 p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#modal2.hidden {
  transform: translate(0, -500px);
}
